/* //////////////
   GENERAL
//////////////*/
:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-blue-color: #175362;
    --gold-color: #E8D051;
    --dark-blue-color: #081519;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: #0e343c;
    /* background-color: #5b9a9f; */
}

.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightBlue { background-color: var(--light-blue-color); }
.bgDarkBlue{ background-color: var(--dark-blue-color); }

.colorDark { color: var(--dark-color) !important; }

h1 { font-size: 66px; font-weight: 700; line-height: 80px; color: #fff; }
h2 { font-size: 48px; margin-bottom: 30px; color: #fff; }
h3 { font-size: 33px; color: #fff; }
h5 { margin-bottom: 0px; color: #fff; }

p {
    font-size: 18px;
    color: var(--white-color);
    /* opacity: .5; */
    line-height: 1.8;
    margin-bottom: 0px;
}

a:hover { text-decoration: none; }

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-primary {
    background-color: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--dark-color);
}

.btn-secondary {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: 2px solid var(--white-color);
}

.btn-alternate {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.btn-primary:hover { background-color: var(--dark-color); border: 2px solid var(--dark-color); }
.btn-secondary:hover { background-color: var(--white-color); color: var(--dark-color); border: 2px solid var(--white-color); }
.btn-secondary:focus { background-color: var(--white-color) !important; outline: none; border: 2px solid var(--white-color) !important; box-shadow: none; }





.content-center {
    max-width: 800px;
    margin: 50px auto 60px auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid var(--dark-color);
    outline: none;
    box-shadow: none;
}


.navbar {
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}

.nav-link { color: var(--white-color); }
.nav-link:hover { color: var(--gold-color); }

.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus { outline: none; }

a {
    color: var(--white-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover{
    color: var(--gold-color);
}

ion-icon:hover{
    color: #403C00;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/* //////////////
   END GENERAL
//////////////*/


/* //////////////
   BANNERS
//////////////*/
header {
    position: relative;
    background-color: black;
    height: 95vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /* width: 100%;
    height: auto; */
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


.video_pattern{
	position:absolute;
	width:100%;
	height:100%;
	background:transparent url(../imagenes/pattern.png) repeat top left;
}



.Roles-Header {
    background-image: url(../imagenes/paladinsroles.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    min-height: 700px;
}

.MasterTheBasic-Header{
    background-image: url(../imagenes/paladinsmasterthebasics.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    min-height: 700px;
}
.PlayLikeAPro-Header{
    background-image: url(../imagenes/paladinsplaylikeapro.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    min-height: 700px;
}
.Androxus-Header {
    background-image: url(../imagenes/paladinschamps.png);
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    min-height: 700px;
}


.carro-izquierda img{
    height: 39vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
}
/* //////////////
   END BANNERS
//////////////*/


/* //////////////
   Sports
//////////////*/
.Sports-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.Sports-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.Sports-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.Sports-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.Sports-details h2 {
    margin-bottom: 0px;
}

.Sports-details a h2, .Sports-details a p {
    color: white;
}
/* //////////////
   END SPORTS
//////////////*/


/* //////////////
   Members
//////////////*/

.member-container {
    position: relative;
    margin: 10px 0;
}

.member-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.member-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.member-details {
    position: absolute;
    color: white;
    bottom: 0;
    left: 20px;
    z-index: 9000;
}

.member-details span {
    font-size: 14px;
}

.member-details i {
    padding: 0 5px;
}
/* //////////////
   END MEMBERS
//////////////*/





/* //////////////
   This is for our team (OurStory)
//////////////*/
.our_team {
    margin: 0;
    padding: 0;
}
.our_team li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    display: inline; 
}
.our_team li a {
    display: -moz-inline-stack;
    display: inline-block;
    display: inline;
    color: #1a1a1a;
    padding-left: 10px;
    padding-right: 10px; 
}
.our_team li a{
    font-size: 32px; 
}
/* //////////////
   End of our team (OurStory)
//////////////*/



/* //////////////
   Footer
//////////////*/

footer {
    padding: 50px 0;
    text-align: center;
    color: #fff;
    background: #30475E;
}


footer a {
    color: #fff;
}

footer a:hover {
    color: #C0C0C0;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

footer .list-inline .list-inline-item:hover {
    padding: 10px 15px;
}
/* //////////////
   End Footer
//////////////*/




/* //////////////
   GO TOP
//////////////*/
.go-top-container{
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: 6.6rem;
    height: 7.6rem;
    z-index: -1;
}

.go-top-button{
    width: 0px;
    height: 0px;
    background: rgba(0,0,0,.6);
    border-radius: 10%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.go-top-button:hover {
    background: black;
}

.go-top-container:hover i{
    color: rgb(46,54,69);
}

.show{
    z-index: 11;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 2.6rem;
    height: 2.6rem;
    z-index: -1;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}
/* //////////////
   END GO TOP
//////////////*/


/* //////////////
    SCROLLBAR   
//////////////*/
::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(210,210,210);
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(46,54,69);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(210,210,210); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}

/* this is for firefox */
:root{
    scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
    scrollbar-color: rgb(210,210,210) rgb(46,54,69);
    scrollbar-width: thin;
}
/* //////////////
    END SCROLLBAR   
//////////////*/



/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) { 
    h1 { font-size: 40px; line-height: normal; }
    .portfolio-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }

    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    
    }
}

@media only screen and (max-width: 800px) {
    .Androxus-Header{
            width: 100%;
            height: auto;
            background-size: 100% !important;
            background-position: center center;
            min-height: auto;
    }
}
@media only screen and (max-width: 800px) {
    header video{
            width: 100%;
            height: auto;
            background-size: 100% !important;
            background-position: center center;
            min-height: auto;
    }
}
@media only screen and (max-width: 800px) {
    header {
            width: 100%;
            height: auto;
            /* background-size: 100% !important;
            background-position: center center; */
            min-height: 25rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .portfolio-details h2 { font-size: 30px; }
    .plans { min-width: unset; padding: 40px 20px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }




















